<%= content_tag :tbody, class: 'tbody', id: "todo-#{todo.id}" do %>
  <tr>

      <td><%= todo.body %></td>
      <td><%= todo.days_left %></td>
      <td><input id="todo_<%=todo.id %>" name="todos[]" value="<%=todo.id %>"  type= "checkbox"  /></td>
      <td><%= link_to "Delete", "#", remote: true, class: 'btn btn-danger', data: { delete_button: true, todo_id: todo.id } %></td>
 
  </tr>
<% end %>
